{% extends 'base.html' %}

{% block head %}
<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
{% endblock   %}




{% block body %}


<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <li class="dropdown nav-item">
                <a class="nav-link" href="https://drive.google.com/drive/folders/1tHXeaPcKAagednzirEW5SsrwjZXY7aQl?usp=sharing" target="_blank">
                    <i class="material-icons">cloud_download</i> Curriculum
                </a>
            </li>


            <table align=center >
                <div class="containerr">
                    <div class="d-flex  py-3">
                        <div class="mr-2">
                            <div class="cardd ">
                                <div  class="px-2 py-2"> <span  class="maintxtt"><h4 class="title">&nbsp; &nbsp; Minha carreira atualmente </h4>

                                    <h6 >
                                            •	Profissional hands on, comprometido e sempre disponível.<br/>
                                                &nbsp;&nbsp;- 4 vezes cargo promovido.<br/>
                                                &nbsp;&nbsp;- Líder de 20 pessoas.<br/>
                                                &nbsp;&nbsp;- Experiência em trabalho em turnos.<br/>
                                                &nbsp;&nbsp;- Experiência em planejamento de manutenção.<br/>
                                                &nbsp;&nbsp;- Recrutamento de técnicos.<br/>
                                                &nbsp;&nbsp;- Suporte técnico às compras e controle de custos.<br/>
                                                &nbsp;&nbsp;- Projetos de melhoria contínua.<br/>
                                                &nbsp;&nbsp;- Análise de causa raiz de avarias.<br/>
                                            •	Conhecimentos;<br/>
                                                &nbsp;&nbsp;- 08 Portainers (ZPMC, Konecranes, Lebher e Impsa) Spreader (Bromma).<br/>
                                                &nbsp;&nbsp;- 30 Transtainers (KALMAR e KONECRANES) Spreader (Bromma/Elme).<br/>
                                                &nbsp;&nbsp;- 02 Guindaste Móvel Portuário (MHC) Spreader (Elme).<br/>
                                                &nbsp;&nbsp;- 09 Reach Stacker (Kalmar e Konecranes).<br/>
                                                &nbsp;&nbsp;- 65 Tractor Terberg (Caminhões).<br/>
                                                &nbsp;&nbsp;- 17 Empilhadeiras grande e pequeno portes.<br/>
                                                &nbsp;&nbsp;- Grupos Geradores.<br/>



                                        </h6></span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </table>
    </div>

    <div class="col-md-6 ml-auto mr-auto">
      <li class="dropdown nav-item">
                    <a class="nav-link" href="https://drive.google.com/drive/folders/1kBFtP2ffrWWcQvmBsOXRGLiXlXMMiUJ0?usp=sharing" target="_blank">
                        <i class="material-icons">cloud_download</i> Curriculum
                    </a>
                </li>


                <table align=center >
                    <div class="containerr">
                        <div class="d-flex  py-3">
                            <div class="mr-2">
                                <div class="cardd ">
                                    <div  class="px-2 py-2"> <span  class="maintxtt"><h4 class="title"> Área de programação </h4>

                                        <h6 >
                                                • Olá, prazer em conhece-lo.<br/><br/>
                                                 &nbsp;&nbsp;- Investi toda minha carreia profissional voltado a automação predial/industrial.<br/>
                                                &nbsp;&nbsp;- Sou uma pessoa proativo, criativo e voltado a inovação. Gosto de desafios e solucionar problemas. Tenho paixão em inovação e tecnologia.<br/>
                                                &nbsp;&nbsp;- A 1 ano conheci <strong>PYTHON</strong> pela internet e através dele iniciei minha <strong>Pós em Engenharia da Computação</strong> e me reencontrei. Foi, e é um desafio para mim!! Porque não houve com quem tirar as minhas dúvidas, pois todos os cursos foram a distância. Isso me fez forçar a procurar soluções sozinho. Gostei e gosto muito disso!<br/>
                                                &nbsp;&nbsp;- Hoje procuro alguma oportunidade nessa área, a princípio REMOTO. Mais nada impede que seja de outra forma.<br/>
                                                &nbsp;&nbsp; - Quer saber mais? baixe meu currículo e acesse meu <strong>INSTAGRAM</strong> no ícone a cima.<br/><br/><br/>
                                                &nbsp;&nbsp;



                                            </h6></span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </table>
    </div>
  </div>
</div>






{% endblock %}








