
<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">

<li class="dropdown nav-item">
    <a class="nav-link" href="https://drive.google.com/drive/folders/1tHXeaPcKAagednzirEW5SsrwjZXY7aQl?usp=sharing" target="_blank">
        <i class="material-icons">cloud_download</i> Curriculum
    </a>
</li>


<table align=center >
    <div class="containerr">
        <div class="d-flex  py-3">
            <div class="mr-2">
                <div class="cardd ">
                    <div  class="px-2 py-2"> <span  class="maintxtt"><h4 class="title">&nbsp; &nbsp; Minha Carreia Atuamente </h4>

                        <h6 >
                                •	Profissional hands on, comprometido e sempre disponível.<br/>
                                	&nbsp;&nbsp;- 3 vezes cargo promovido.<br/>
                                	&nbsp;&nbsp;- Líder de 20 pessoas.<br/>
                                	&nbsp;&nbsp;- Experiência em trabalho em turnos.<br/>
                                	&nbsp;&nbsp;- Experiência em planejamento de manutenção.<br/>
                                	&nbsp;&nbsp;- Recrutamento de técnicos.<br/>
                                	&nbsp;&nbsp;- Suporte técnico às compras e controle de custos.<br/>
                                	&nbsp;&nbsp;- Projetos de melhoria contínua.<br/>
                                	&nbsp;&nbsp;- Análise de causa raiz de avarias.<br/>
                                •	Conhecimentos;<br/>
                                	&nbsp;&nbsp;- 08 Portainers (ZPMC, Konecranes, Lebher e Impsa) Spreader (Bromma).<br/>
                                	&nbsp;&nbsp;- 30 Transtainers (KALMAR e KONECRANES) Spreader (Bromma/Elme).<br/>
                                	&nbsp;&nbsp;- 02 Guindaste Móvel Portuário (MHC) Spreader (Elme).<br/>
                                	&nbsp;&nbsp;- 09 Reach Stacker (Kalmar e Konecranes).<br/>
                                	&nbsp;&nbsp;- 65 Tractor Terberg (Caminhões).<br/>
                                	&nbsp;&nbsp;- 17 Empilhadeiras grande e pequeno portes.<br/>
                                	&nbsp;&nbsp;- Grupos Geradores.<br/>



                            </h6></span>

                    </div>
                </div>
            </div>

        </div>
    </div>

</table>