{% extends 'base.html' %}

{% block head %}
<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
{% endblock   %}




{% block body %}


<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <li class="dropdown nav-item">
                <a class="nav-link" href="https://drive.google.com/drive/folders/1tHXeaPcKAagednzirEW5SsrwjZXY7aQl?usp=sharing" target="_blank">
                    <i class="material-icons">cloud_download</i> Curriculum
                </a>
            </li>


            <table align=center >
                <div class="containerr">
                    <div class="d-flex  py-3">
                        <div class="mr-2">
                            <div class="cardd ">
                                <div  class="px-2 py-2"> <span  class="maintxtt"><h4 class="title">&nbsp; &nbsp; Minha carreira atualmente </h4>

                                    <h6 >
                                            •	Profissional hands on, comprometido e sempre disponível.<br/><br/>
                                                &nbsp;&nbsp;- 4 vezes cargo promovido.<br/>
                                                &nbsp;&nbsp;- Controle e gerenciamento dos CAPEX/OPEX da planta;<br/>
                                                &nbsp;&nbsp;- Gerenciamento das necessidades de investimento;<br/>
                                                &nbsp;&nbsp;- Desenvolvimento de Projetos de Melhorias de Manutenção;<br/>
                                                &nbsp;&nbsp;- Desenvolver fornecedores;<br/>
                                                &nbsp;&nbsp;- Planejamento das atividades e demandas de manutenção à médio prazo;<br/>
                                                &nbsp;&nbsp;- Planejar o escopo das atividades realizadas por terceiros na Manutenção;<br/>
                                                &nbsp;&nbsp;- Análise dos Indicadores de Manutenção;<br/>
                                                &nbsp;&nbsp;- Recrutamento de técnicos;<br/>
                                                &nbsp;&nbsp;- Ponto focal no suporte técnico ao time de Manutenção;<br/>
                                                &nbsp;&nbsp;- Garantir a atualização da biblioteca técnica da área de manutenção;<br/>
                                                &nbsp;&nbsp;- Análise de causa raiz de avarias;<br/>
                                                &nbsp;&nbsp;- Atendimento e acompanhamento aos requisitos legais;<br/><br/>


                                                &nbsp;&nbsp;- 08 Portainers (ZPMC, Konecranes, Lebher e Impsa) Spreader (Bromma).<br/>
                                                &nbsp;&nbsp;- 30 Transtainers (KALMAR e KONECRANES) Spreader (Bromma/Elme).<br/>
                                                &nbsp;&nbsp;- 02 Guindaste Móvel Portuário (MHC) Spreader (Elme).<br/>
                                                &nbsp;&nbsp;- 09 Reach Stacker (Kalmar e Konecranes).<br/>
                                                &nbsp;&nbsp;- 65 Tractor Terberg (Caminhões).<br/>
                                                &nbsp;&nbsp;- 17 Empilhadeiras grande e pequeno portes.<br/>
                                                &nbsp;&nbsp;- Grupos Geradores.<br/>



                                        </h6></span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </table>
    </div>

    <div class="col-md-6 ml-auto mr-auto">
      <li class="dropdown nav-item">
                    <a class="nav-link" href="https://drive.google.com/drive/folders/1kBFtP2ffrWWcQvmBsOXRGLiXlXMMiUJ0?usp=sharing" target="_blank">
                        <i class="material-icons">cloud_download</i> Curriculum
                    </a>
                </li>


                <table align=center >
                    <div class="containerr">
                        <div class="d-flex  py-3">
                            <div class="mr-2">
                                <div class="cardd ">
                                    <div  class="px-2 py-2"> <span  class="maintxtt"><h4 class="title"> Área de programação </h4>

                                        <h6 >

                                                &nbsp;&nbsp;- Sou uma pessoa proativo, criativo e voltado a inovação. Gosto de desafios e solucionar problemas, tenho paixão em inovação e tecnologia.<br/>
                                                &nbsp;&nbsp;- Tenho conhecimento em <strong>PYTHON</strong> e <strong>Pós em Engenharia da Computação</strong> <br/>
                                                &nbsp;&nbsp; - Quer saber mais ou fazer uma parceria? baixe meu currículo e acesse meu <strong>INSTAGRAM</strong> no ícone a cima.<br/><br/><br/>
                                                &nbsp;&nbsp;



                                            </h6></span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </table>
    </div>
  </div>
</div>






{% endblock %}








