<link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skills.css') }}">


<div class="row align-items-start">
        <div class="col">
            <div class="container">
                <div role="tabpanel" class=" tab-pane"  id="skill" >
                      <div class="skill-section">
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                  <span class="skill-name"><strong>Automação - Predial / Industrial</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">80%</div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                  <span class="skill-name"><strong>Eletrônica - Elétrica</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">60%</div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                  <span class="skill-name"><strong>Mecânica Industrial</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">70%</div>
                        </div>
                          <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                  <span class="skill-name"><strong>CLP Step7 S7200 300/S7400</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">70%</div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                  <span class="skill-name"><strong>Supervisório SCADA / SMATIC</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">50%</div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                  <span class="skill-name"><strong>Inversores de Frequência</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">60%</div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                  <span class="skill-name"><strong>Motores Diesel</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">60%</div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                  <span class="skill-name"><strong>Grupos geradores</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">70%</div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                            <div class="progress">
                                <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                  <span class="skill-name"><strong>Pontes Rolantes / Balanças Industriais</strong></span>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-2 text-left">50%</div>
                        </div>
                      </div>
                    </div>
                </div>
         </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <br/>
            <br/>
            <br/>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col">

        <div class="container">
            <div role="tabpanel" class=" tab-pane">
                  <div class="skill-section">
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                              <span class="skill-name"><strong>Python</strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">80%</div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                              <span class="skill-name"><strong>HTML</strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">50%</div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                              <span class="skill-name"><strong>CSS</strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">40%</div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                              <span class="skill-name"><strong>JavaScript</strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">30%</div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                              <span class="skill-name"><strong>Bootstrap</strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">50%</div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                              <span class="skill-name"><strong>Internet das coisas (IoT)</strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">70%</div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                              <span class="skill-name"><strong>Automação Industrial Siemens/Codesys (Ladder/STL/FBD)</strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">70%</div>
                    </div>
                      <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                              <span class="skill-name"><strong>POWERBI / EXCEL </strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">50%</div>
                    </div>
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                        <div class="progress">
                            <div class="progress-bar  active" role="progressbar" aria-valuenow="  45"     aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                              <span class="skill-name"><strong>(Rede profibus/ ASI/ Ethernet/ Can-open/ Interbus)</strong></span>
                            </div>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2 text-left">60%</div>
                    </div>
                  </div>
                </div>
            </div>

        </div>

</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>