  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timeline.css') }}">

                                  <div class="container">
                                      <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                          <headerr class="mt-5">
                                              <p>Work</p>
                                              <h1>Timeline</h1>
                                          </headerr>

                                          <ul class="timeline">
                                            <!-- Item 1 -->
                                            <li>
                                              <div class="direction-rr">
                                                <div class="flag-wrapper">
                                                  <span class="hexa"></span>
                                                  <a class="nav-link" href="https://www.tcp.com.br/" target="_blank">
                                                  <span class="flag">Terminal de Contêineres de Paranaguá</span>
                                                  </a>
                                                  <span class="time-wrapper"><span class="time">Julho2015 / Atualmente</span></span>
                                                </div>
                                                  <div class="desc"> <h6>• Promoção - Especialista de Manutenção  <br/>• Promoção - Supervisor de Manutenção <br/> • Promoção - Líder de equipe  <br/> • Promoção - Técnico Eletromecânico <br/>• Eletricista Sênior  </h6></div>

                                              </div>
                                            </li>

                                            <li>
                                              <!-- Item 2 -->
                                              <div class="direction-ll">
                                                <div class="flag-wrapper">
                                                  <span class="hexa"></span>
                                                  <a class="nav-link" href="http://www.heringer.com.br/" target="_blank">
                                                  <span class="flag">Fertilizantes Heringer S.A</span>
                                                  </a>
                                                  <span class="time-wrapper"><span class="time">Janeiro 2013 / Julho 2015</span></span>
                                                </div>
                                                <div class="desc"><h6>• Técnico - Instrumentista Industrial </h6></div>

                                              </div>
                                            </li>

                                            <!-- Item 3 -->
                                            <li>
                                              <div class="direction-rr">
                                                <div class="flag-wrapper">
                                                  <span class="hexa"></span>
                                                  <a class="nav-link" href="http://www.andali.com.br/" target="_blank">
                                                  <span class="flag">Andali Operações Industrial S.A</span>
                                                  </a>
                                                  <span class="time-wrapper"><span class="time">Fevereiro 2010 / Janeiro 2013</span></span>
                                                </div>
                                                <div class="desc"> <h6>• Técnico - Eletricista</h6></div>
                                              </div>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>

                                </div>